.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #ffd400;
    color: #16479d
}

.navbar_logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar_logo img {
    width: 40px;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li, 
.navbar a {
    text-decoration: none;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover{
    background-color: #16479d;
    color: #fff;
}

.navbar li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
  }

.navbar li:hover > a{
    color: #fff;
}

.navbar p {
    font-weight: bold;
}